@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide scrollbar */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  /* Default text color */
  body {
    color: #2E2E2E;
  }
  
  h1 {
    font-family: var(--font-synt);
    font-size: 48px;
    margin: 0;
    line-height: 1;
  }
  
  h2 {
    font-family: var(--font-synt);
    font-size: 24px;
    margin: 0;
    line-height: 1;
  }
  
  p {
    font-family: var(--font-monument);
    font-size: 14px;
    margin: 0;
    line-height: 1;
  }
  
  .font-synt {
    font-family: var(--font-synt) !important;
  }
  
  .font-synt p {
    font-family: var(--font-synt) !important;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
